.checkoutProduct {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20px;

  padding: 5px;
  background-color: rgb(247, 247, 247);
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_info {
  padding: 20px;
  overflow: hidden;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}

.chekoutProduct_quantity {
  margin-top: 5px;
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.quantity_content {
  margin-right: 10px;
}

.quantity_times {
  font-size: 15px;
  font-weight: 800;
}

.checkoutProduct_info > button {
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 10px 0.2px rgba(0, 0, 0, 0.2); /* border-color: #a88734 #9c7e31 #846a29; */
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .checkoutProduct {
    display: flex;
    justify-content: space-between;
    width: 87vw;
  }

  .image {
    flex: 0.4;
  }

  .checkoutProduct_image {
    width: 130px;
  }

  .checkoutProduct_info {
    flex: 0.6;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .checkoutProduct_title {
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
  }

  .product__price {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 800;
  }
  .quantity_times {
    font-weight: 600;
  }
}
