.checkout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_left {
  flex-basis: 70%;
}

.checkout_right {
  margin-left: 5%;
  flex-basis: 20%;
}

.checkout_add {
  width: 100%;
  margin-bottom: 10px;
  /* object-fit:contain; */
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .checkout_right {
    margin-left: 0;
    /* width: 100%; */
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .checkout_right {
    margin-left: 0;
    width: 100%;
    flex-basis: 100%;
  }
}
