.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: white;
  
}

.back_to_top {
  width: 100%;
  height: 30px;
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.back_to_top:hover {
  background-color: #455266;
  cursor: pointer;
}

.back_to_top > p {
  font-size: 13px;
  font-weight: bold;
}

.footer_content {
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #232f3e;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box > h5 {
  font-size: 14px;
}

.box > ul {
  list-style: none;
  padding: 0;
}

.box > ul > li {
  list-style: none;
  font-size: 13px;
  margin-top: 10px;
}

.box > ul > li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer_content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .box > h5 {
    font-size: 9px;
  }

  .box > ul > li {
    list-style: none;
    font-size: 8px;
    margin-top: 5px;
  }
}
