.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  padding: 20px;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  min-width: 20vw;

  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  flex: 1;

  transition: transform 450ms;
}

.product:hover {
  transform: scale(1.06);
}

.product_image {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  transition: transform 650ms;
}

.product_image:hover {
  transform: scale(1.08);
}

.product_image > img {
  max-height: 200px;
  max-width: 200px;

  min-height: 80px;
  min-width: 100px;
  /* width: 100%; */
  object-fit: contain;
  margin-bottom: 15px;
}

.product_info {
  min-height: 180px;
  max-height: 55%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product_title {
  font-size: 16px;
  font-weight: 700;
}

.product__price {
  margin-top: -5px;
  font-size: 18px;
  font-weight: 600;
}

.product_description {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.product_rating {
  margin-top: 10px;
  display: flex;
}

 /* .product_info > button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
}  */

.add_product {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 90%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 8px;
 
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0.2px rgba(0, 0, 0, 0.2); /* border-color: #a88734 #9c7e31 #846a29; */
}

@media screen and (max-width: 800px) {
  .product {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    min-height: 200px;
    min-width: 20vw;
    padding: 20px;
  }

  .product_info {
    width: 100%;
  }

  .product_image > img {
    max-height: 110px;
    width: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;

    max-height: 250px;
    min-height: 200px;
    min-width: 90vw;
  }

  .product_info {
    padding-top: 10px;
    padding-left: 5px;
    height: 100%;
    width: 100%;
  }

  .product_rating {
    margin-top: 10px;
  }

  .product_image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product_image > img {
    max-height: 140px;
    width: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}
