.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  min-height: 100px;
  max-height: 180px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.subtotal_main {
  font-size: 18px;
  font-weight: 600;
}

.subtotal__gift {
  margin-top: 5px;
  display: flex;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal_giftInfo {
  font-size: 15px;
  font-weight: 400;
}

.subtotal > button {
  background: #fff;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  color: #111;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;

}

.subtotal>button:hover{
  background: black;
  color: white;
}

.proceed_check {
  margin-top: 7px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .subtotal {
    width: auto;
  }
}

