.products_home {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  display: flex;

  position: relative;
}

.home_image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -200px;
}


.products-home-filters {
  min-height: 90vh;
  max-height: max-content;
  border-radius: 10px;
  color: #333;
  position: sticky;
  top: 0%;
  left: 0px;
  background-color: white;
}


.productPage_link {
  color: black;
  text-decoration: none;
}

.product_results {
  background-color: white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;

}

.home_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  /* margin-left: 5px;
  margin-right: 5px; */
  /* background: white; */
  /* overflow-y: hidden; */
}

@media screen and (max-width: 768px) {
  .home_image {
    object-fit: contain;
    z-index: -1;
    margin-bottom: 0px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* transform: scaleX(1.2);  */
    overflow: hidden;
    margin: 0 auto;
    /* Center the image horizontally */
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .home_row {
    /* margin-top: 100px; */
  }
}