.dropdown {
    position: relative;
    min-width: 170px;
    margin: 0px 5px;
}

.dropdown-header {
    padding: 5px 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

.dropdown-arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dropdown-list-item {
    font-size: 14px;
    padding: 5px 6px;
    cursor: pointer;
}

.dropdown-list-item:hover {
    background-color: #f0f0f0;
}