.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .control input {
    /* width: 80%; */
    padding: 5px 0px;
    /* border: none; */
  }
  .control label {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}
